parameters:
    level: 2
    paths:
        - web/modules/custom/this_module
    ignoreErrors:
        # We use this all over the place. Not that straightforward to use the Drupal container inside behat.
        # todo(eirik): Probably a way, investigate at some point.
        - "#Drupal calls should be avoided in classes, use dependency injection instead#"
        -
          message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityStorageInterface\\:\\:loadBySku\\(\\)\\.$#"
          count: 1
          path: web/modules/custom/this_module/src/CommerceContext.php
